<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Whitehart</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/Swiper/dist/css/swiper.min.css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  <div id="main" class="swiper-container">
    <div class="swiper-wrapper">
      <div id="logo_slide" class="swiper-slide">
        <div class="center">
          <h2 class="whitehart-logo">
            <span class="text">WHITEHART</span>
            <br>
            <span class="stags-head"></span>
          </h2>
        </div>
      </div>
      <div id="description_slide" class="swiper-slide">
        <div class="center">
          <h2 class="whitehart-logo"><span class="text">WHITEHART</span></h2>
          <h3>A NEW APPROACH TO INVESTMENT</h3>
          <p>We are big believers in the SoCal tech scene. There is more than just great weather here—there’s an abundance of talent, creativity and innovation. Whitehart is a new fund based in and focused on Los Angeles. As operators, we speak the language of the entrepreneur and we understand their challenges. As investors, we are seeking out that talent so that, together, we can nurture our community and cement its place as a global center of technical excellence.</p>
          <div id="contactUsButtonWrapper" class="text-center">
            <button id="contactUsButton" class="btn btn-primary btn-lg next-slide">CONTACT US</button>
          </div>
        </div>
      </div>
      <div id="contact_form_slide" class="swiper-slide">
        <div class="center">
          <div id="mobileContactForm">
            <div class="message-error hidden alert alert-danger">
              <p>Sorry but an error has occurred. Please try again or
                email us directly at <a href="mailto:info@whitehart.com">info@whitehart.com</a></p>
            </div>
            <div class="legend">
              <h3>CONTACT US</h3>
              <p>Send a note and we will get in touch with you as soon as possible</p>
            </div>
            <form class="validated-form" novalidate>
              <div class="form-group">
                <input type="text"
                       name="name"
                       id="mobileContactFormName"
                       placeholder="Name"
                       required
                       class="form-control">
              </div>
              <div class="form-group">
                <input type="email"
                       class="form-control"
                       id="mobileContactFormEmail"
                       name="email"
                       required
                       placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text"
                       name="number"
                       id="mobileContactFormNumber"
                       placeholder="Number"
                       class="form-control">
              </div>
              <div class="form-group">
                <textarea class="form-control"
                          id="mobileContactFormMessage"
                          name="message"
                          required
                          rows="3"
                          placeholder="Comments"></textarea>
              </div>
              <button id="mobileSubmitButton" class="btn btn-primary pull-right">SUBMIT</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>


  <div id="thank_you_message" class="center">
    <h3>THANK YOU</h3>
    <p>Your message was sent. We will respond as soon as possible.</p>
  </div>

  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/Swiper/dist/js/swiper.min.js"></script>
  <script src="/js/main.js"></script>
  </body>
</html>
