.btn {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  font-family: 'HelveticaNeueLight';
  letter-spacing: 1px;
}
.btn.btn-primary {
  background-color: #465062;
  border: none;
  color: #fff;
}
