.legend h3 {
  border-bottom: solid 2px #465062;
  font-size: 33px;
}
@media (min-width: 1024px) {
  .legend h3 {
    font-size: 40px;
  }
}
.legend p {
  text-align: left;
  font-size: 12px;
  line-height: 14px;
}
@media (min-width: 1024px) {
  .legend p {
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
  }
}
input.form-control,
textarea.form-control {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border: solid 2px #465062;
  background: transparent;
}
.form-control:focus {
  border-color: #485264;
  webkit-box-shadow: none;
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  color: #465062;
}
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #465062;
}
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #465062;
}
.form-control:-ms-input-placeholder {
  color: #465062;
}
.has-error .form-control {
  color: #a94442;
}
.has-error .form-control::-webkit-input-placeholder {
  color: #a94442;
}
.has-error .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #a94442;
}
.has-error .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #a94442;
}
.has-error .form-control:-ms-input-placeholder {
  color: #a94442;
}
